* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  margin-bottom: 25px;
  text-decoration: underline;
  margin-left: 50px;
}

h3 {
  margin-top: 10px;
}

.dotted {
  border-bottom: 3px dashed black;
  display: inline;
}

header {
  text-align: center;
  background-color: #61a0c5;
  width: 100%;
  padding: 50px;
}

.caracteriel {
  display: flex;
  margin: auto;
  margin-top: -250px;
}

footer {
  padding: 5px;
  background-color: #61a0c5;
  text-align: right;
  width: 100%;
  z-index: 10;
  bottom: 0;
}

.copyright,
.mail {
  padding: 8px;
  color: white;
  font-size: 0.7rem;
}

.mail {
  float: left;
}

.tableau1 {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 98%;
}
.tableau1,
.tableautd1 {
  padding: 25px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 16px;
  line-height: 35px;
}

.tableau2,
.tableautd2 {
  border: 1px solid black;
  border-collapse: collapse;
}

.tableautd2 {
  width: 950px;
}

.ajustimg {
  width: 1278px;
  transform: translateY(-100px) translateX(6.5px);
}

.figcaptiontdah {
  display: flex;
  justify-content: center;
}

/* ----- */
/* Leçon */
/* ----- */
p {
  margin-bottom: 20px;
}
.texto {
  text-align: justify;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
  font-size: 20px;
  line-height: 35px;
}

.italik {
  font-style: italic;
  background-color: aquamarine;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.testy {
  margin: auto;
}

.premier {
  margin-left: 30px;
}

.deuxieme {
  margin-left: 50px;
}
.contenu {
  margin-top: 10px;
  width: 80%;
}

.lecon {
  background-color: rgba(255, 255, 255, 0.459);
  margin: auto;
  border: 2px solid rgba(255, 255, 255, 0.151);
  border-radius: 100px;
  box-shadow: 10px 10px 8px rgba(255, 255, 255, 0.479);
  width: 70%;
}
.persoDiscu {
  width: 150px;
}

.discu {
  background: cornflowerblue;
  padding: 10px 20px;
  border-radius: 30px;
  line-height: 30px;
  text-align: justify;
  width: 50%;
  height: 100%;
}

.discussion {
  display: flex;
  margin-top: 30px;
  margin-bottom: 15px;
}

.d {
  justify-content: right;
}

.btn {
  display: flex;
  margin: auto;
  width: 20%;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 25px;
}
.btnSuivant,
.btnPrece {
  z-index: 10;
  margin: auto;
  background-color: #185180;
  box-shadow: 3px 3px 10px #000000;
  border-radius: 5px;
  padding: 8px;
}

a {
  color: #fff;
}

.btnSuivant {
  margin-right: 15px;
}
.btnPrece {
  margin-left: 15px;
}

.bubble-text {
  background: #139ee0;
  color: #fff;
  padding: 7px 15px;
  border-radius: 3px;
  width: 25%;
  min-width: 300px;
  position: fixed;
  right: 1%;
  bottom: 28%;
  transition: 0.5s;
  opacity: 0;
  z-index: 100;
}

.size {
  font-size: 2vh;
}

.bubble-text::after {
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #139ee0;
  position: absolute;
}

.popUp {
  position: fixed;
  bottom: 0;
  right: 20%;
  transform: translateY(110px);
  transition: 0.5s;
}

/* ----------- */
/*  Snoezelen  */
/* ----------- */

.snoez {
  display: flex;
  margin: auto;
}

.imgSnoez {
  margin: 10px;
  border-radius: 5000px;
  box-shadow: 12px 12px 10px 1px rgba(0, 0, 255, 0.2);
}

.slider {
  overflow: hidden;
  width: 1100px;
  margin: auto;
}

div.slides {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: calc(300px * 4);
  height: 500px;
  -webkit-animation: glisse 30s infinite;
  position: relative;
}

div.slides:hover {
  -webkit-animation-play-state: paused;
}

@-webkit-keyframes glisse {
  1% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-1140px);
  }
  40% {
    transform: translateX(-2640px);
  }
  60% {
    transform: translateX(-3920px);
  }
  80% {
    transform: translateX(-5400px);
  }
  100% {
    transform: translateX(0);
  }
}

.caption {
  margin-top: -70px;
  margin-left: 20px;
  opacity: 0.5;
}

/* --------- */
/*  Emotika  */
/* --------- */

.imgemo {
  display: flex;
  margin: auto;
  margin-top: 10px;
}

.pdf {
  display: flex;
  flex-wrap: wrap;
}

.infographie {
  margin: auto;
  margin-top: 5px;
}

.video {
  display: flex;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.gift {
  display: flex;
  margin: 5px;
}

.test {
  font-size: 2.5vh;
}

/* ---------------- */
/* carteMentale.pdf */
/* ---------------- */

.carteMental {
  display: flex;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* ---------- */
/* Responsive */
/* ---------- */

@media (max-width: 450px) {
  h1 {
    font-size: 20px;
    padding-bottom: 5px;
  }
  header {
    padding: 10px;
  }

  .lecon {
    width: 95%;
    box-shadow: none;
  }
  .persoDiscu {
    width: 100px;
  }

  .discu {
    font-size: 12px;
    width: 60%;
  }

  .btnPrece,
  .btnSuivant {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 320px) {
  footer {
    position: relative;
  }
  .btn {
    margin-bottom: 10px;
  }

  .lecon {
    border-radius: 50px;
  }

  .discu {
    border-radius: 20px;
  }
}
